body {
background: linear-gradient(167.79deg, #72C9FB -8.5%, #9636D1 101.27%);
    font-size: 20px;
    color: #333;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
div{
    margin: 30px;
    width: auto;
    height: auto; 
    background: #FFFFFF;
    box-shadow: 0px 0px 25px 5px rgba(133, 133, 133, 0.25);
    border-radius: 20px;
}